<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product Id="8e7f1a90-032b-012e-9c85-0022fa95c22f" Name="Pik" Language="1033" Version="0.3.0" Manufacturer="Gordon Thiesfeld" UpgradeCode="4729D701-5814-012D-9C5F-0022FA95C22F">
      <Package Description="The Ruby version manager for Windows." Manufacturer="Gordon Thiesfeld" InstallerVersion="301" Compressed="yes"/>
               
      <Media Id="1" Cabinet="pik.cab" EmbedCab="yes" CompressionLevel="high"/>

      <Upgrade Id="4729D701-5814-012D-9C5F-0022FA95C22F">
          <UpgradeVersion Property="OLDAPPFOUND" IncludeMinimum="yes" Minimum="0.0.0.0" IncludeMaximum="no" Maximum="0.3.0"/>
          <UpgradeVersion Property="NEWAPPFOUND" IncludeMinimum="no" Minimum="0.3.0" OnlyDetect="yes"/>
      </Upgrade>
      
      <Property Id="ARPURLINFOABOUT">http://github.com/vertiginous/pik</Property>

      <!-- <Property Id="ALREADYINPATH"><![CDATA[ [%PATH] >< [INSTALLDIR] ]]></Property> -->
      <!-- <Property Id="ALLUSERS">1</Property> -->
      <Property Id="APPENDSYSTEMPATH" Value="1"/>
      <Property Id="ROOTDRIVE" Value="$(env.SystemDrive)"/>

      
      <Directory Id="TARGETDIR" Name="SourceDir">
   
         <!-- <Directory Id="ProgramFilesFolder" Name="PFiles"> -->
         
            <Directory Id="INSTALLDIR" Name="pik">
            
               <Component Id="pik_bat" Guid="53BAE1B0-5814-012D-9C61-0022FA95C22F">
                  <File Id="pikBAT" Name="pik.bat" Source="..\..\tools\pik.bat" KeyPath="yes"/>
               </Component>
               <Component Id="pik_ps1" Guid="E4A9B800-5FCE-012D-9C72-0022FA95C22F">
                  <File Id="pikPS1" Name="pik.ps1" Source="..\..\tools\pik.bat" KeyPath="yes"/>
               </Component>
               <Component Id="pik_runner" Guid="CAFBA430-5815-012D-9C63-0022FA95C22F">
                  <File Id="pik_runnerEXE" Name="pik_runner.exe" Source="..\..\tools\pik_runner.exe" KeyPath="yes"/>
               </Component>
               <Component Id="pik_path" Guid="DACACFC0-581B-012D-9C65-0022FA95C22F">
                  <Condition>APPENDSYSTEMPATH</Condition>
                  <Environment Id="Environment" Name="PATH" Action="set" Part="first" System="yes" Value="[INSTALLDIR]"/>
                  <CreateFolder/>
               </Component>
              
            </Directory>
         
         <!-- </Directory> -->
      
      </Directory>


      <Feature Id="pik" Title="pik" Level="1" Description="The Ruby version manager for Windows." Display="expand" ConfigurableDirectory="INSTALLDIR">
         <ComponentRef Id="pik_bat"/>
         <ComponentRef Id="pik_ps1"/>
         <ComponentRef Id="pik_runner"/>
         <ComponentRef Id="pik_path"/>
      </Feature>
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>   
      <UIRef Id="WixUI_MyInstallDir"/>
      <UIRef Id="WixUI_ErrorProgressText"/>
      
      <WixVariable Id="WixUIBannerBmp" Value="pik_banner.bmp"/> 
      <WixVariable Id="WixUIDialogBmp" Value="pik_dialog.bmp"/>
      <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>

      <InstallExecuteSequence>
         <RemoveExistingProducts After="InstallInitialize"/>
      </InstallExecuteSequence>
      
   </Product>
   
</Wix>
